<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Viking Finance </title>

    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="js/api.js"></script>

    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="img/logo.jpg" type="image/x-icon" />
    <link rel="icon" href="img/logo.jpg" type="image/x-icon" />
  </head>
  <body >
    <section>
      <nav id="navbar">
        <div class="nav-wrapper">
          <a class="logo" href="index.html">
            <img src="img/logo.jpg" alt="logo" />
          </a>
          <ul class="nav-menu">
            <li><a href="#">home</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#roadmap">roadmap</a></li>
            <li>
              <a class="drop" href="https://drive.google.com/file/d/1Rqrp6l3sYt4rPyh9U9KXmmVcKffuAy40/view?usp=sharing"
                >White Paper</a>
            </li>
            <li><a href="https://drive.google.com/file/d/1QiwflygjBaCr3l4ozFG8jrJkWhIhebKW/view?usp=sharing">Audit</a></li>
            <li><a href="https://app.uniswap.org/#/swap?slippage=7&outputCurrency=0xcdef3fadbf339dc65676e1866eb4c1d901587c46">Buy on Uniswap</a></li>
            <li>
              <a class="drop" href="#">contact<i class="arrow down"></i></a>
              <ul class="dropdown">
                <li>
                  <a target="”_blank”" href="https://t.me/VikingFinance">
                    Telegram</a
                  >
                </li>
                <li>
                  <a target="”_blank”" href=" https://twitter.com/VikingFinance1"
                    >Twitter</a
                  >
                </li>
  
              </ul>
            </li>
            </li> 

          </ul>
        </div>
      </nav>
      <nav role="m-nav">
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <a href="#"><li>Home</li></a>
            <a href="#about"><li>About</li></a>
            <a href="#roadmap"><li>Roadmap</li></a>
            <a href="https://drive.google.com/file/d/1Rqrp6l3sYt4rPyh9U9KXmmVcKffuAy40/view?usp=sharing" target="_blank"
              ><li>Whitepaper</li></a
            >
            <a href="https://drive.google.com/file/d/1QiwflygjBaCr3l4ozFG8jrJkWhIhebKW/view?usp=sharing" target="_blank"
              ><li>Audit</li></a
            >
            <a href="https://t.me/VikingFinance" target="_blank"
              ><li>Telegram</li></a
            >
            <a href="https://twitter.com/VikingFinance1" target="_blank"
              ><li>Twitter</li></a
            >
            <a href="https://app.uniswap.org/#/swap?slippage=7&outputCurrency=0xcdef3fadbf339dc65676e1866eb4c1d901587c46"><li>Buy on Uniswap</li></a>
          </ul>
        </div>
      </nav>
    </section>
    <section class="hero-section " id="index">
      <div class="mars">
        <div class="planet">
          <div class="surface"></div>
          <div class="crater1"></div>
          <div class="crater2"></div>
          <div class="crater3"></div>
        </div>
      </div>
      <div class="hero-wrapper">
        <div class="hero-title">
          <h1>
            VIKING FINANCE
          </h1>
          <br />
        </div>
        <div class="hero-buttons">
          <a
            target="”_blank”"
            href="https://app.uniswap.org/#/swap?slippage=7&outputCurrency=0xcdef3fadbf339dc65676e1866eb4c1d901587c46"
          >
            <button>Buy on Uniswap</button>
          </a>
          <a target="”_blank”" href="https://t.me/VikingFinance">
            <button class="btn">
              Join Telegram
            </button>
          </a>
        </div>
        <div class="hero-text">
          <p>
            $VIKING is a meme based community ERC-20 token with NFT giveaway for holders every week. $VIKING was established on the background of all the times we have been rugged or scammed.
          </p>
        </div>
      </div>
    </section>

    <section class="about section" id="about">
      <h1>About</h1>
      <div class="content off-1">
        <div class="about-text">
          <h3>
            <b>
              $VIKING was established on the background of all the times we have been rugged or scammed.
            </b>
          </h3>
          <br />

          <h3>
            <b>
              Our goal is to be the most trusted meme community, a safe haven.
$VIKING is a meme based community ERC-20 token with NFT giveaway for holders every week.
            </b>
          </h3>
          <br />

          <h3>
            <b>
              Total supply is 100 Million tokens (100,000,000).
              Liquidity is 100% locked for 3 months at a time
            </b>
          </h3>
          <br />
        </div>
        <div class="about-img">
          <img src="img/rotate.jpg" alt="" />
        </div>
      </div>
      <section class="about section token-down" id="about">
        <h1>TOKENOMICS</h1>
        <div class="content off-1">
          <div class="about-text off-2">
            <h3>
              <b>
                Total supply is 100 Million tokens (100,000,000).
              </b>
            </h3>
            <h3>
              <b>
                Liquidity is 100% locked for 3 months at a time.
              </b>
            </h3>
            <h3>
              <b>
                30,000,000 (30%) is added as liquidity
              </b>
            </h3>
            <h3>
              <b>
                40,000,000 (40%) presale
              </b>
            </h3>
            <h3>
              <b>
                18,000,000 (18%) team tokens
              </b>
            </h3>
            <h3>
              <b>
                5,000,000 (5%) ESPORT wallet
              </b>
            </h3>
            <h3>
              <b>
                5,000,000 (5%) NFT Wallet
              </b>
            </h3>
            <h3>
              <b>
                2,000,000 (2%) Twitter giveaway and other contests
              </b>
            </h3>
            <h3>
              <b>
                Liquidity is 100% locked for 3 months at a time.
              </b>
            </h3>
          </div>
          <div class="about-img">
          <img src="img/rotate.jpg" alt="" />
        </div>
        </div>
      <div class="content">
        <div class="about-bottom">
          <div class="hero-buttons">
            <a
              class="btn-wrapper"
              target="”_blank”"
              href="https://drive.google.com/file/d/1QiwflygjBaCr3l4ozFG8jrJkWhIhebKW/view?usp=sharing"
            >
              <button class="btn">
               AUDIT
              </button>
            </a>
            <a
              class="btn-wrapper"
              target="”_blank”"
              href="https://twitter.com/VikingFinance1"
            >
              <button class="btn">
                TWITTER
              </button>
            </a>
          </div>
          <div class="bottom-text off-2">
            <div>
              <h3>Locked Liquidity</h3>
              <p>
                Liquidity is 100% locked for 3 months at a time. Fair distribution without whales. Active and engaged
                team, ready to answer any questions.
              </p>
            </div>
            <div class="token-down">
              <h3>Total Supply</h3>
              <p>
                Total supply is 100 Million tokens (100,000,000).
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="roadmap section" id="roadmap">
      <h1>Road Map</h1>
      <div class="content off-1 road-off-1">
        <div class="roadmap-img">
          <img src="/img/rotate.jpg" alt="" />
        </div>
        <div class="container off-2">
          <div class="rightbox">
            <div class="rb-container">
              <ul class="rb">
                <div class="btn up">
                  >
                </div>
                <div class="btn down">
                  >
                </div>
                <div class="btn up2">
                  >
                </div>
                <div class="btn down2">
                  >
                </div>
                <li class="rb-item done" ng-repeat="itembx">
                  <div class="timestamp">
                    Q2 2021<br />
                    In progress
                  </div>
                  <div class="item-title">
                    Whitepaper & Website launch
                  </div>
                </li>
                <li class="rb-item done" ng-repeat="itembx">
                  <div class="timestamp">
                    Q2 2021<br />
                    In progress
                  </div>
                  <div class="item-title">
                    NFT ARTIST PARTNERSHIP(CHECKED)
                  </div>
                </li>
                <li class="rb-item done" ng-repeat="itembx">
                  <div class="timestamp">
                    Q2 2021<br />
                    In progress
                  </div>
                  <div class="item-title">
                    Uniswap launch (liquidity lock)
                  </div>
                </li>
                <li class="rb-item done" ng-repeat="itembx">
                  <div class="timestamp">
                    Q2 2021<br />
                    In progress
                  </div>
                  <div class="item-title">
                    FULL AUDIT COMING AFTER LAUNCH
                  </div>
                </li>
                <li class="rb-item done" ng-repeat="itembx">
                  <div class="timestamp">
                    Q2 2021<br />
                   In progress
                  </div>
                  <div class="item-title">
                    ESPORT TEAM
                  </div>
                </li>
                <li class="rb-item done" ng-repeat="itembx">
                  <div class="timestamp">
                    Q2 2021<br />
                    In progress
                  </div>
                  <div class="item-title">
                    Listing on Coingecko, Coinmarketcap
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <p>&copy;2021 by <a href="index.html">Viking</a></p>
    </footer>
    <script>
      window.onscroll = function () {
        scrollFunction();
      };
      function scrollFunction() {
        if (
          document.body.scrollTop > 80 ||
          document.documentElement.scrollTop > 80
        ) {
          document.getElementById("navbar").style.background = "#00000090";
        } else {
          document.getElementById("navbar").style.background = "#00000000";
        }
      }
      function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
    </script>
  </body>
</html>
